*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* :is is not overriden */
.my-class-is{
    margin-top: 50px;
    text-align: center;
}

.my-class-is :is(p, li, section) em{
  background: yellow;
  
}
.my-class-is em {
  background: red;
}



/* :where is overriden */
.my-class-where {
    text-align: center;
    margin-top: 50px;
}

.my-class-where :where(p, li, section) em {
  background: yellow;
}
.my-class-where em {
  background: red;
}

.pie-chart{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(red 120deg, green 120deg 240deg, blue 240deg);
}

.sunburst{
  width: 70px;
  height: 70px;
  background: repeating-conic-gradient(red 0 15deg,darkred 0 30deg);
}